*
{
    margin: 0;
    padding: 0;
}
.container
{
    width: 100%;
    
}
.navbar
{
    width: 100%;
    height: 10vh;
    position: fixed;
    display: flex;
    background: transparent;
    text-transform: uppercase;
    justify-content: space-between;
    position: absolute;
}


.navbar img
{
    width: 20%;
    height: 90%;
    margin-left: 2%;
}

.options 
{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: grey;
} 
.hero
{
    width: 100%;
    height: 100vh;
    display: flex;
}
.hero > .text
{
 width: 40%;
 height: 100vh;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 justify-content: space-around ;
}
.hero-image
{
 width: 60%;
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 background-image: url('./img/op-subscription.jpg');
 background-size: cover;
}
/* .hero-image img
{
    width: 100%;
    height: 100%;
} */
.arrow-anim
{
    position: absolute;
    font-size: 5vh;
    bottom: 0;
    animation-name: arrow-anim-play;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;;
}
@keyframes arrow-anim-play
{
    from{bottom: 10vh; opacity: 0;}
    to{bottom: 0; opacity: 1;}
}
.hero-image > .h1-anim
{
    color: white;
    font-size: 13vh;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    opacity:0;
}
.h1-anim:nth-child(1)
{
    animation-name: heading1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: step-end;
}
@keyframes heading1
{
    0%{opacity: 1;}
    25%{opacity: 0;}
    50%{opacity: 0;}
    100%{opacity: 0;}
}
.h1-anim:nth-child(2)
{
    animation-name: heading2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: step-end;
}
@keyframes heading2
{
    0%{opacity: 0;}
    25%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 0;}
}
.h1-anim:nth-child(3)
{
    animation-name: heading3;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: step-end;
}
@keyframes heading3
{
    0%{opacity: 0;}
    25%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 0;}
}
.h1-anim:nth-child(4)
{
    animation-name: heading4;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: step-end;
}
@keyframes heading4
{
    0%{opacity: 0;}
    25%{opacity: 0;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}
.description
{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-around;

}
.learnmore
{
    color: seagreen;
}
.learnmore:hover
{
    color: black;
}
.staff
{
    width: 65%;
    height: 65vh;
    margin-left: 15%;
    display: flex;
    flex-wrap: wrap;
    /* justify-self: center; */
    justify-content: space-around;
    border: 1px solid black;
}

.staff-img
{
    width: 20vw;
    height: 50vh;
    z-index: 1;
}
/* .staffimgdiv
{
    display: flex;
    justify-content: center;
    align-items: center;
} */
/* .staffimgdiv::after
{
    width: 20vw;
    height: 50vh;
    content: "";
    background: whitesmoke;
    position: absolute;
    z-index: -1;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scale(0,0);
    transition: 0.3s;
}
.staffimgdiv:hover::after
{
    transition: all .5s;
    transform: scale(1,1);
    z-index: 2;
} */

.text-width
{
    width: 20vw;
    text-align: center;
}
.works
{
    width: 100%;
    background: rgb(245, 243, 243);
    padding: 1px;
}
.works-text
{
    margin-top:5%;
    width: 100%;
    height: 30vh;
    text-align: center;
    line-height: 8vh;
    /* margin: 5%; */
}

.works-images
{
    
    width: 100%;
    height:90vh;
    /* margin: 10vh 0; */
    border: 1px solid black;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    
}