ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    max-width:700px;
}

    ul.topnav li {
        float: left;
        border-right: 1px solid #bbb;
    }

        ul.topnav li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 17px;
            text-decoration: none;
            font-weight:normal;
        }

            ul.topnav li a:hover:not(.active) {
                background-color: #111;
            }

            ul.topnav li a.active {
                background-color: #4CAF50;
            }

        ul.topnav li.right {
            float: right;
        }

@media screen and (max-width: 600px) {
    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }
}
